package=WP-A1-SCI-03C-PROTECTED-EXECUTION-PACKAGE-PREP
scientific_purpose=SCI-03C_COVERAGE_COMPARISON_ONLY
protected_environment=AUTHORITY_TO_DEFINE
environment_approval_reference=AUTHORITY_TO_DEFINE
data_controller_steward=AUTHORITY_TO_DEFINE
authorized_operators=AUTHORITY_TO_DEFINE
scientific_authority_approval=NEEDS_VERIFICATION
disclosure_authority=AUTHORITY_TO_DEFINE
small_cell_threshold=AUTHORITY_TO_DEFINE
secondary_suppression_approval=NEEDS_VERIFICATION
zero_cell_policy=AUTHORITY_TO_DEFINE
participant_level_egress=PROHIBITED
approved_aggregate_egress=AUTHORITY_TO_DEFINE
approved_code_revision=NEEDS_VERIFICATION
approved_script_checksums=NEEDS_VERIFICATION
allowed_input_path=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
allowed_code_path=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
allowed_temporary_path=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
allowed_output_staging_path=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
allowed_audit_log_path=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
network_egress=PROHIBITED
retention_policy_reference=AUTHORITY_TO_DEFINE
deletion_policy_reference=AUTHORITY_TO_DEFINE
owner_approval=NEEDS_VERIFICATION
protected_execution_authorized=NO
