operating_system=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
r_version=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
r_platform=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
dependency_lock_reference=NEEDS_VERIFICATION
locale=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
timezone=ENVIRONMENT_ADMINISTRATOR_TO_DEFINE
seed=20260815
repository_revision=NEEDS_VERIFICATION
aggregate_helper_sha256=NEEDS_VERIFICATION
execution_script_sha256=NEEDS_VERIFICATION
input_adapter_sha256=NEEDS_VERIFICATION
